<h1>Edit Customer</h1><br><br>
<h2>{{param}}</h2>
<form [formGroup]="editCustomer_form" style="width: 70%" (ngSubmit)=onSubmit()
  id="editCustomer_form">

  <div class="form-group">
    <label for="Contact email">Contact email</label>
    <input
      type="email"
      class="form-control"
      formControlName="contact_email"
      id="contact_email"
      placeholder="Enter Contact email"
      />
  </div>
  <div class="form-group">
    <label for="Contact email">Engineer email</label>
    <input
      type="email"
      class="form-control"
      formControlName="engineer_email"
      id="engineer_email"
      placeholder="Enter Engineer's email"
      />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a routerLink=".." id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
</form>
