<h1>Edit Device</h1><br><br>
<h3>{{device.customer}} | {{device.hostname}} ({{device.ip_address}})</h3>
    <form [formGroup]="editDevice_form" style="width: 70%"
    id="EditDevice_form">
  
    <div class="form-group">
      <label for="cli_username">CLI username</label>
      <input
        type="text"
        class="form-control"
        formControlName="cli_username"
        id="CLI username"
        placeholder="Enter new CLI username"
        />
    </div>
    <div class="form-group">
      <label for="cli_password">CLI password</label>
      <input
        type="text"
        class="form-control"
        formControlName="cli_password"
        id="cli_password"
        placeholder="Enter new CLI password"
        />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit(device.customer)">Submit</button>
    <a routerLink=".." id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
    </form>
